/*About*/
.about-action {
    display: flex;
    justify-content: space-between;
    background-color: #fafafa;
    align-items: center;
    font-weight: bold;
    padding: 15px;
    height: 70px;
    border-bottom: 1px solid #9ba4b5;
    border-top: 1px solid #9ba4b5;
    cursor: pointer;
  }
  .about-details {
    max-height: 0px;
    background-color: #fafafa;
    overflow-y: hidden;
    transition: max-height 0.3s;
    height: inherit;
  }
  .about-details p{
    padding: 10px;
  }
  .about-action span {
    transition: transform 300ms;
  }
  .about-details li {
    padding: 10px 20px;
  }
  @media (min-width: 850px) {
  .about-details li {
    padding: 10px 20px;
  }
  }