* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #bdb9b9;
}
.none {
  height: 100vh;
  color: #ececec;
  background-color: #0e1424;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-size: larger;
  padding: 10px;
  position: fixed;
  width: 100%;
  color: white;
}
.nav ul {
  list-style: none;
  justify-content: space-between;
  width: 350px;
  font-size: larger;
  display: none;
}
.nav button {
  padding: 10px;
  width: 100px;
  font-weight: bolder;
  color: white;
  background-color: #e03e03;
  border: none;
  border-radius: 20px;
}
.header {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(rgb(98, 96, 96), black);
  font-size: 30px;
  color: #ececec;
  background-image: url("./public/pexels-abet-llacer-927444.jpg");
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*first section*/
.first {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #0e1424;
  color: #ececec;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.first div {
  margin-top: 20px;
  background-color: #374254;
  width: 80%;
  display: flex;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
}
.first p {
  margin-right: 15px;
}
.first img {
  width: 45%;
}

/*Login*/

.login {
  background-color: #0e1424;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login form {
  background-color: #374254;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
}
.login input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}
.login label {
  color: #ececec;
  font-size: larger;
  padding: 5px;
  align-self: self-start;
}
.login button {
  width: 40%;
  border: none;
  padding: 10px;
  font-size: larger;
  color: #ececec;
  background-color: #e03e03;
  border-radius: 20px;
}

/*Dashboard*/
/*nav*/
.dash-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 0;
  background-color: #fafafa;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
.dash-nav img {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  border: 5px solid #bdb9b9;
}
.dash-nav span {
  font-size: 45px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-right: 20px;
}
.dash-nav h1 {
  margin-left: 20px;
  font-size: 40px;
  font-weight: lighter;
  cursor: pointer;
  display: block;
}
.dash-nav ul {
  position: fixed;
  top: 50px;
}
.dash-con {
  display: flex;
}
.dash-main {
  width: 100vw;
  max-height: 100vh;
  overflow-y: scroll;
}

/*side-bar*/
.side-bar {
  background-color: #0e1424;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  left: 0;
  color: #ececec;
  font-size: larger;
  font-weight: bolder;
  top: 0;
  display: none;
  position: fixed;
  overflow-y: scroll;
  z-index: 3;
}
.sidebar-exit {
  font-size: 50px;
  position: relative;
  top: 4px;
  left: 80vw;
}
.side-bar span {
  margin-top: 10px;
  font-size: 7rem;
  display: flex;
  justify-content: center;
}
.side-bar p {
  font-size: larger;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}
.side-bar ul {
  margin-top: 20px;
}
.side-bar li {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  padding-left: 10px;
  font-size: larger;
}
.side-bar img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid #dad7d7;
}
.side-bar li:hover {
  background-color: #374254;
}

/*index*/
.index {
  background-color: #bdb9b9;
  width: 100%;
  height: 100vh;
}
.search-bar {
  display: flex;
  justify-content: center;
  padding: 15px;
  width: 100%;
  position: sticky;
  top: 80px;
  background-color: #374254;
  color: #fafafa;
  font-size: larger;
}
.search-bar input {
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  font-size: larger;
}
.search2 {
  background-color: #374254;
  min-width: 65px;
  height: 65px;
  margin-right: 15px;
  color: #fafafa;
  display: flex;
  padding: 10px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  display: none;
}
.search2 input {
  height: 40px;
  border-radius: 20px;
  padding: 10px;
  width: 350px;
  font-size: 20px;
}
.catigory {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9ba4b5;
  height: 60px;
  /*position: sticky;
  top: 160px;*/
  width: 100%;
  font-size: larger;
  z-index: 2;
}
.catigory ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  overflow-x: scroll;
  overflow-y: clip;
}
.catigory ul::-webkit-scrollbar {
  display: none;
}
.catigory li {
  color: #374254;
  cursor: pointer;
  max-width: 100vw;
  margin-left: 20px;
  background-color: #374254;
  color: #fafafa;
  padding: 10px;
  border-radius: 10px;
}
.catigory li:hover {
  border: 4px solid #374254;
  padding: 6px;
  color: #0e1424;
  background-color: #dad7d7;
}

/*all video*/
.all-video {
  display: flex;
  flex-wrap: wrap;
}
.all-video span {
  height: 100%;
  width: 100%;
}
.all-video {
  width: 100%;
  max-height: 200px;
  padding: 0;
}
.all-video video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.all-video video:hover {
  padding: 5px;
}
.all-video button {
  width: 50%;
  padding: 10px;
  align-self: center;
  font-size: larger;
  border: none;
  border-radius: 20px;
  background-color: #374254;
  color: #fafafa;
  font-weight: bolder;
}
.all-video p {
  font-size: larger;
  padding-left: 10px;
}
.all-video h3 {
  padding-left: 10px;
}
.video {
  width: 100vw;
  background-color: #fafafa;
  color: #374254;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 5px;
}
.video span {
  display: flex;
  color: #000;
  background-color: #9ba4b5;
  padding: 5px;
}
.video span p {
  margin-top: 10px;
  font-size: 25px;
}
.video img {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  margin-top: 10px;
  border: 5px solid #dad7d7;
}
.video-player {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}
.video-player video {
  width: 100%;
  height: 30%;
}
.video-player h1 {
  color: #fafafa;
  font-size: 70px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 4;
}

/*Profile page*/
.profile {
  width: 100%;
  /*height: 90.8vh;*/
  background-color: #bdb9b9;
}
.user-info {
  display: flex;
  flex-direction: column;
}

/*Edit bio*/
.edit-bio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.edit-bio div {
  background-color: #fafafa;
  padding: 10px;
  min-height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #374254;
  justify-content: center;
  align-items: center;
}
.edit-bio textarea {
  width: 90%;
  font-size: larger;
  padding: 10px;
}
.edit-bio button {
  background-color: #374254;
  color: #fafafa;
  font-size: larger;
  padding: 5px;
  margin-top: 10px;
  width: 90%;
  border: none;
}
.edit-bio h2 {
  align-self: flex-end;
  color: red;
  font-size: 3rem;
  cursor: pointer;
}

.profile-head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 5px;
  color: #0e1424;
  font-weight: bolder;
  font-size: larger;
  width: 100%;
  background-color: #fafafa;
  border-radius: 0;
  height: 200px;
  padding: 10px;
}
.profile-head i {
  position: relative;
}
.profile-head p {
  padding: 5px;
  font-weight: lighter;
}
.profile-head img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 4px solid #dad7d7;
  position: relative;
}
.profile-img {
  font-size: 150px;
}
.camera {
  font-size: 30px;
  background-color: #dad7d7;
  color: #374254;
  padding: 10px;
  position: absolute;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 88px;
  left: 100px;
  z-index: 2;
}
.camera input {
  position: absolute;
  width: 30px;
  opacity: 0;
}
.profile-head article {
  margin-left: 20px;
}
.video-uploads {
  width: 100%;
  height: 200px;
  background-color: #fafafa;
  border-radius: 0;
  display: flex;
  align-items: center;
  padding: 20px;
}
.profile-head span {
  color: green;
  font-weight: bolder;
  width: 100%;
  text-align: center;
  font-size: larger;
  cursor: pointer;
}
.add-image-icon {
  font-size: 40px;
  color: white;
  top: 0;
}
.video-uploads span {
  background-color: rgb(176, 176, 176);
  border: 3px solid #0e1424;
  height: 100px;
  width: 150px;
  border-style: dashed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  border-radius: 20px;
}
.video-uploads p {
  margin-left: 15px;
  font-size: 20px;
}
.user-video-stats {
  width: 100%;
  background-color: #fafafa;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.user-video {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.user-video video {
  max-width: 100vw;
}
.user-video div {
  max-width: 100vw;
  overflow-x: scroll;
  height: 50%;
  border: 1px solid #dddddd;
  border-collapse: collapse;
}
.user-video video {
  width: 100%;
  height: 100%;
}
.user-video table td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 20px;
}
.user-video-stats video {
  height: 50%;
  width: 100%;
}
.uplaod-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.uplaod-video form {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
  padding: 20px;
  justify-content: space-around;
  position: relative;
}
.uplaod-video input {
  padding: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}
.uplaod-video select {
  padding: 15px;
  font-size: 20px;
}
.uplaod-video button {
  padding: 15px;
  font-size: 20px;
  margin-top: 10px;
  border: none;
  background-color: #374254;
  color: #fafafa;
}
.uplaod-video option {
  padding: 15px;
  font-size: 20px;
}
.uplaod-video div {
  height: 50px;
  width: 50%;
  margin-bottom: 10px;
  background-color: #374254;
  color: #fafafa;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}
.uplaod-video h1 {
  color: red;
  align-self: flex-end;
  font-size: 50px;
  cursor: pointer;
}
.video-input {
  position: absolute;
  top: 100px;
  left: 30px;
  opacity: 0;
  padding: 10px;
  background-color: transparent;
}

/*Notification page*/

.notification {
  width: 100%;
  height: 90.8vh;
  background-color: #dad7d7;
}
@media (min-width: 850px) {
  .nav ul {
    display: flex;
  }
  .login form {
    width: 40%;
  }
  .dash-nav h1 {
    display: none;
  }
  .search-bar {
    display: none;
  }
  .dash-nav {
    padding: 10px;
    justify-content: flex-end;
  }
  .dash-nav img {
    margin-right: 0;
  }
  .search-bar input {
    width: 40%;
  }
  /*side bar*/
  .side-bar {
    width: 25vw;
    display: block;
    position: static;
  }
  .sidebar-exit {
    display: none;
  }
  .side-bar::-webkit-scrollbar {
    width: 2px;
    background-color: #0e1424;
  }
  .catigory ul {
    width: 60%;
    overflow: hidden;
  }
  .video {
    width: 350px;
    margin: 15px;
    border-radius: 10px;
  }
  .video-con {
    border-radius: 10px 10px 0 0;
    max-height: 180px;
    object-fit: cover;
  }
  .all-video video {
    border-radius: 10px 10px 0 0;
    height: 100%;
  }
  .video-player video {
    width: 70vw;
    height: 70vh;
  }
  /*user profile*/

  .user-info {
    flex-direction: row;
    justify-content: space-between;
  }
  .profile-head {
    width: 48%;
    margin: 20px;
    border-radius: 5px;
  }
  .video-uploads {
    width: 48%;
    margin: 20px;
    border-radius: 5px;
  }
  .user-video-stats video {
    height: 300px;
    width: 50%;
  }
  .user-video {
    flex-direction: row;
    justify-content: space-around;
  }
  .user-video div {
    height: 100%;
    width: 50%;
  }
  .user-video div::-webkit-scrollbar {
    display: none;
  }
  .user-video table {
    width: 100%;
  }
  .user-video-stats {
    width: 97%;
    margin: 20px;
  }
  .camera {
    left: 100px;
    top: 85px;
  }
  .search2 {
    display: flex;
  }
  .search2 {
    border-radius: 25px;
  }
  .edit-bio div {
    width: 50%;
  }
  .uplaod-video form {
    width: 50%;
    height: 60%;
  }
  .uplaod-video div {
    width: 30%;
  }
}
@media (min-aspect-ratio: 7/4) {
  .video-player video {
    height: 95vh;
    width: 90vw;
  }
  .side-bar {
    width: 30vw;
  }
}
